body{
    display: flex;
    flex-direction: column;
    margin:0px;
    padding: 50px;
    background-color: bisque;
}

.header{
    text-align: center;
    font-size: 32px;
    font-weight: 900;
}

.section2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 100px;
}

.section2-left{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-score{
    font-size: 24px;
    padding: 25px;
}

.section2-left button{
    width: 150px;
    height: 150px;
    background-size: contain;
    background-color: transparent;
    border: none;
}

.section2-container{
    display: flex;
    gap: 5px;
}

.section2-right{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.computer-score{
    font-size: 24px;
    padding: 25px;

}



.section3{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.section3 button{
    background-color: inherit;
    border: 2px solid black;
    padding: 10px;
}

.fight-reset{
    font-size: 24px;
    font-weight: 900;
}

.message{
    font-size: 24px;
    padding: 100px;
}

img{
    width: 150px;
    height: 150px;

}

.rock{
    background-image: url("./images/Rock.png");
}

.paper{
   background-image: url("./images/Paper.png");
}

.scissor{
    background-image: url("./images/Scissor.png");
}